@import "tailwindcss";


.shim-container{
    display:flex;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
}
.shim{
    margin: 10px;
    height: 300px;
    width:18%;
    background-color: #f0f0f0;
    
}
.user-card{
    padding:5px;
    border:1px solid black;
}
